@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /*
=============== 
Variables
===============
*/
  :root {
    /* dark shades of primary color*/
    --clr-primary-1: hsl(184, 91%, 17%);
    --clr-primary-2: hsl(185, 84%, 25%);
    --clr-primary-3: hsl(185, 81%, 29%);
    --clr-primary-4: hsl(184, 77%, 34%);
    --clr-primary-5: #2caeba; /* lighter shades of primary color */
    --clr-primary-6: hsl(185, 57%, 50%);
    --clr-primary-7: hsl(184, 65%, 59%);
    --clr-primary-8: hsl(184, 80%, 74%);
    --clr-primary-9: hsl(185, 94%, 87%);
    --clr-primary-10: hsl(
      186,
      100%,
      94%
    ); /* darkest grey - used for headings */
    --clr-grey-1: hsl(209, 61%, 16%);
    --clr-grey-2: hsl(211, 39%, 23%);
    --clr-grey-3: hsl(209, 34%, 30%);
    --clr-grey-4: hsl(209, 28%, 39%); /* grey used for paragraphs */
    --clr-grey-5: hsl(210, 22%, 49%);
    --clr-grey-6: hsl(209, 23%, 60%);
    --clr-grey-7: hsl(211, 27%, 70%);
    --clr-grey-8: hsl(210, 31%, 80%);
    --clr-grey-9: hsl(212, 33%, 89%);
    --clr-grey-10: hsl(210, 36%, 96%);
    --clr-white: #fff;
    --clr-red-dark: hsl(360, 67%, 44%);
    --clr-red-light: hsl(360, 71%, 66%);
    --clr-green-dark: hsl(125, 67%, 44%);
    --clr-green-light: hsl(125, 71%, 66%);
    --clr-black: #222;
    --transition: all 0.3s linear;
    --spacing: 0.1rem;
    --radius: 0.25rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --max-width: 1170px;
    --fixed-width: 620px;
  }
  /*
=============== 
Global Styles
===============
*/
  *,
  ::after,
  ::before {
    @apply box-border m-0 p-0;
  }
  body {
    @apply text-[color:var(--clr-grey-1)] leading-normal text-sm;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    background: var(--clr-grey-10);
  }
  ul {
    @apply list-none;
  }
  a {
    @apply no-underline;
  }
  h1,
  h2,
  h3,
  h4 {
    @apply capitalize leading-tight mb-3;
  }
  h1 {
    @apply text-5xl;
  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply text-xl;
  }
  h4 {
    @apply text-sm;
  }
  p {
    @apply text-slate-500 mb-5;
  }
  @media screen and (min-width: 800px) {
    h1 {
      @apply text-6xl;
    }
    h2 {
      @apply text-4xl;
    }
    h3 {
      @apply text-2xl;
    }
    h4 {
      @apply text-base;
    }
    body {
      @apply text-base;
    }
    h1,
    h2,
    h3,
    h4 {
      @apply leading-none;
    }
  }
  /*  global classes */

  /* section */
  .section {
    @apply w-[90vw] max-w-[var(--max-width)] mx-auto my-20;
  }
  @media screen and (min-width: 992px) {
    .section {
      @apply w-[95vw];
    }
  }
  .loading {
    @apply text-center;
  }
  .underline {
    @apply w-20 h-1 mb-5 mx-auto bg-teal-600 rounded-md;
  }
  .title {
    @apply text-center mb-16;
  }

  /*
=============== 
Jobs
===============
*/
  .jobs-center {
    @apply w-8/12 max-w-[var(--max-width)] mx-auto my-0;
  }
  .btn-container {
    @apply flex flex-row justify-center flex-wrap mb-16;
  }
  .job-btn {
    @apply capitalize text-xl leading-tight hover:bg-transparent cursor-pointer  outline- mx-2 my-0 px-0 py-1 border-white transparent hover:text-sky-300 hover:shadow-sky-400;
  }
  .active-btn {
    @apply text-sky-500 shadow-md shadow-cyan-500;
  }
  .job-info h3 {
    @apply font-normal;
  }
  .job-info h4 {
    @apply uppercase text-slate-500 rounded-md px-3 py-1.5 bg-slate-500;
  }
  .job-date {
    @apply leading-tight;
  }
  .job-desc {
    @apply grid grid-cols-1 gap-x-8 items-center mb-5;
  }
  .job-desc p {
    @apply text-slate-300 mb-0;
  }
  .job-icon {
    @apply text-sky-500;
  }
  @media screen and (min-width: 992px) {
    .jobs-center {
      @apply w-[90vw] grid grid-cols-[200px_1fr] gap-x-16;
    }
    .btn-container {
      @apply flex-col justify-start;
    }
    .job-btn {
      @apply mb-4 hover:shadow-[-2px_0_var(--clr-primary-5)];
    }
    .active-btn {
      @apply shadow-sky-400;
    }
  }
  .btn {
    @apply uppercase text-slate-900 leading-tight font-bold  text-sm cursor-pointer shadow-sky-400 rounded-md block w-48 text-center mt-12 mx-auto my-0 px-3 py-1.5 border-2 border-solid border-transparent border-pink-500 hover:text-sky-900 bg-slate-500 hover:bg-slate-900;
  }
}
